@font-face {
    font-family: "pysch";
    src: url("../assets/fonts/QuicksandlightRegular-WJpz.otf");
  }
  
  .myModal {
    font-family: pysch;
  }

  .myModal p {
    text-align: center;
    font-size: 12pt;
  }

  #contained-modal-title-vcenter {
    text-align: center;
  }