@font-face {
  font-family: "pysch";
  src: url("../assets/fonts/QuicksandlightRegular-WJpz.otf");
}

.overall {
  font-family: pysch;
  background-color: #f3f3f3;
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw;
}

.header {
  background-color: linear-gradient(to bottom, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0.6));
  background-blend-mode: darken;
  background-attachment: fixed;
  background-position: center;
  background-size: 390vmin;
  height: 70vh;
  opacity: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h2 {
  font-size: 18px;
}
@media screen and (min-width: 765px) {
  .header {
    background-size: 180vmax;
  }
  .header h2 {
    font-size: 26px;
  }
}
@media screen and (min-width: 1350px) {
  .header {
    background-size: 150vmax;
  }
  .header h2 {
    font-size: 36px;
  }
}
@media screen and (min-width: 1650px) {
  .header {
    background-size: 100vmax;
  }
  .header h2 {
    font-size: 36px;
  }
}

.bannerText {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
  text-align: center;
}
.bannerText h1 {
  font-size: 32px;
}
@media screen and (min-width: 765px) {
  .bannerText h1 {
    font-size: 42px;
  }
}
@media screen and (min-width: 1350px) {
  .bannerText h1 {
    font-size: 56px;
  }
}

.scrollDown {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin: 0;
  padding: 0;
}
.scrollDown h1 {
  font-size: 19px;
  padding: 50px 0px 5px;
}
.scrollDown h2 {
  font-size: 14px;
}
.bookButton {
  font-size: 14px;
}
@media screen and (min-width: 320px) and (min-height: 565px) {
  .scrollDown {
    height: 160px;
  }
  .scrollDown h1 {
    padding: 25px 0px 5px;
  }
}
@media screen and (min-width: 325px) {
  .scrollDown {
    height: 200px;
  }
}
@media screen and (min-width: 765px) {
  .scrollDown {
    height: 300px;
  }
  .scrollDown h1 {
    font-size: 36px;
    padding-bottom: 20px;
  }
  .scrollDown h2 {
    font-size: 24px;
    padding-bottom: 30px;
  }
  .bookButton {
    font-size: 24px;
  }
}
@media screen and (min-width: 1000px) {
  .scrollDown {
    height: 200px;
  }
}
@media screen and (min-width: 1000px) and (min-height: 1000px) {
  .scrollDown {
    height: 400px;
  }
}
@media screen and (min-width: 1350px) {
  .scrollDown {
    height: 300px;
  }
}

.about {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.about img {
  margin: 50px 0px 50px;
  border-radius: 1%;
  height: 200px;
}
.about h1 {
  font-size: 24px;
}
.about h2 {
  font-size: 14px;
}
.about p {
  font-size: 12px;
  text-align: center;
}
@media screen and (min-width: 765px) {
  .about {
    margin-bottom: 100px;
    width: 50%;
  }
  .about img {
    height: 300px;
  }
  .about h1 {
    font-size: 36px;
    padding-bottom: 10px;
  }
  .about h2 {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .about p {
    font-size: 16px;
  }
}

.payment {
  height: 700px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.payment h1 {
  font-size: 18px;
}
.payment h4 {
  font-size: 14px;
}
@media screen and (min-width: 765px) {
  .payment {
    height: 1200px;
  }
  .payment h1 {
    font-size: 36px;
  }
  .payment h4 {
    font-size: 20px;
  }
}

.booking {
  padding: 50px 0px 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.booking h1 {
  margin-bottom: 50px;
  font-size: 18px;
}
@media screen and (min-width: 765px) {
  .booking {
    padding: 100px 0px 100px;
  }
  .booking h1 {
    font-size: 36px;
  }
}

.location {
  padding: 0px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* border-color: pink; */
}
.location h4 {
  font-size: 14px;
  padding-bottom: 50px;
  text-align: center;
}
.leftBox {
  width: 100%;
}
.rightBox {
  width: 100%;
  height: 120vmax;
  padding-top: 50px;
  background: url("../assets/images/blackburn.png"),
    radial-gradient(
      circle at center,
      rgba(255, 255, 255, 0),
      rgba(243, 243, 243, 1),
      rgba(243, 243, 243, 1)
    );
  background-blend-mode: lighten;
  background-size: 350%;
  background-position: center;
  text-align: center;
}
.rightBox h1{
  font-size: 24px;
}
.rightBox h2{
  font-size: 12px;
}
@media screen and (min-width: 765px) {
  .location {
    padding: 50px;
  }
  .location h4 {
    font-size: 20px;
  }
  .rightBox {
    width: 100%;
    height: 80vmax;
    background-size: 200%;
  }
  .rightBox h1{
    font-size: 36px;
  }
  .rightBox h2{
    font-size: 24px;
  }
}
@media screen and (min-width: 1350px) {
  .location {
    flex-direction: row;
    height: fit-content;
  }
  .location h4 {
    font-size: 22px;
    text-align: justify;
  }
  .leftBox {
    width: 50%;
  }
  .rightBox {
    width: 50%;
    height: 70vh;
    padding: 0px;
    background-size: 190%;
  }
  .rightBox h1{
    font-size: 22px;
  }
  .rightBox h2{
    font-size: 18px;
  }
}

.author {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.author img {
  width: 30px;
}
.author p {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}