@font-face {
  font-family: "pysch";
  src: url("../assets/fonts/QuicksandlightRegular-WJpz.otf");
}

.overall {
  font-family: pysch;
  font-weight: bold;
  background-color: #f3f3f3;
  margin: 0 !important;
  padding: 0 !important;

  /* border: solid;
  border-color: blue; */
}

@media screen and (min-width: 765px) {
  .overall {
    font-weight: normal;
  }
}

.banner {
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: opacity(0.85);

  /* border: solid;
  border-color: red; */
}
.banner h2 {
  font-size: 24px;

  /* border: solid;
  border-color: green; */
}
@media screen and (min-width: 760px) {
  .banner h2 {
    font-size: 36px;
  }
}
@media screen and (min-width: 1370px) {
  .banner {
    background-attachment: fixed;
    /* background-size: cover; */
    background-size: auto 120vh;
  }
  .banner h2 {
    font-size: 42px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .banner {
      background-attachment: scroll;
  }
}

.bannerText {
  color: #f3f3f3;
  text-align: center;
  position: absolute;

  /* border: solid;
  border-color: purple; */
}
.bannerText h1 {
  font-size: 34px;

  /* border: solid;
  border-color: yellow; */
}
@media screen and (min-width: 765px) {
  .bannerText h1 {
    font-size: 68px;
  }
}
@media screen and (min-width: 1350px) {
  .bannerText h1 {
    font-size: 72px;
  }
}

.scrollDown {
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}
.scrollDown h1 {
  font-size: 21px;
  padding: 50px 0px 20px;
}
.scrollDown h2 {
  font-size: 16px;
  padding: 0px 0px 20px;
}
.bookButton {
  font-size: 20px !important;
}
@media screen and (min-width: 765px) {
  .scrollDown {
    padding-bottom: 50px;
  }
  .scrollDown h1 {
    font-size: 42px;
    padding: 50px 0px 30px;
  }
  .scrollDown h2 {
    font-size: 26px;
    padding: 0px 0px 40px;
  }
  .bookButton {
    font-size: 24px !important;
  }
}

.about {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.about img {
  margin: 50px 0px 50px;
  border-radius: 1%;
  height: 250px;
}
.about h1 {
  font-size: 28px;
}
.about h2 {
  font-size: 18px;
}
.about p {
  font-size: 14px;
  text-align: center;
}

@media screen and (min-width: 1025px) {
  .about {
    margin-bottom: 100px;
    max-width: 50%;
  }
  .about img {
    height: 300px;
  }
  .about h1 {
    font-size: 36px;
    padding-bottom: 10px;
  }
  .about h2 {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .about p {
    font-size: 16px;
  }
}

.payment {
  height: 600px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.payment h1 {
  font-size: 32px;
}
.payment h4 {
  font-size: 18px;
}
@media screen and (min-width: 765px) {
  .payment {
    height: 1000px;
  }
  .payment h1 {
    font-size: 36px;
  }
  .payment h4 {
    font-size: 20px;
  }
}

.booking {
  padding: 50px 0px 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.booking h1 {
  margin-bottom: 50px;
  font-size: 28px;
}
@media screen and (min-width: 765px) {
  .booking {
    padding: 100px 0px 100px;
  }
  .booking h1 {
    font-size: 36px;
  }
}

.location {
  padding: 50px 0px 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.location h4 {
  font-size: 18px;
  padding-bottom: 50px;
  text-align: justify;
}
.leftBox {
  padding: 0px 20px 50px;
}
.rightBox {
  height: 50rem;
  padding-top: 0px;
  background: url("../assets/images/blackburnfilter.png");
  background-size: 50rem;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.rightBox h1 {
  font-size: 24px;
}
.rightBox h2 {
  font-size: 14px;
}
@media screen and (min-width: 765px) {
  .location {
    padding: 50px;
  }
  .location h4 {
    font-size: 20px;
  }
  .rightBox {
    width: 100%;
  }
  .rightBox h1 {
    font-size: 36px;
  }
  .rightBox h2 {
    font-size: 24px;
  }
}
@media screen and (min-width: 1350px) {
  .location {
    flex-direction: row;
    height: fit-content;
  }
  .location h4 {
    font-size: 22px;
    text-align: justify;
  }
  .leftBox {
    width: 50%;
  }
  .rightBox {
    width: 50%;
  }
  .rightBox h1 {
    font-size: 22px;
  }
  .rightBox h2 {
    font-size: 18px;
  }
}

.author {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.author a {
  color: black;
}
.author p {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

/*Booking Form*/
.myModal {
  font-family: pysch;
}
.myModal p {
  text-align: center;
  font-size: 12pt;
}
@media screen and (min-width: 765px) {
  .myModal p {
    text-align: left;
  }
}

/*NavBar*/
.navy {
  font-family: pysch;
  font-size: 20px;
  transition: 1s;
}
.nav-link {
  padding: 30px !important;
  transition: 0.5s;
}
.nav-link:hover {
  color: black !important;
  background: rgb(243, 243, 243);
}
.black {
  padding: 10px !important;
}
.black:hover {
  color: rgb(243, 243, 243) !important;
  background: rgb(255, 208, 0) !important;
}
@media screen and (max-width: 997px) {
  .nav-link {
    background: rgb(243, 243, 243) !important;
    color: black !important;
    padding: 20px !important;
    font-size: 18px;
  }
}
@media screen and (max-height: 414px) {
  .nav-link {
    padding: 5px !important;
    font-size: 12px;
  }
}

/*Calendar*/
.rbc-current-time-indicator {
  display: none;
}
.rbc-timeslot-group {
  min-height: 60px !important;
}
.rbc-time-view {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 30vw;
  border: 1px solid #ddd;
  min-height: 100% !important;
  font-size: 16px;
}
.rbc-calendar {
  box-sizing: border-box;
  height: 100% !important;
  width: 30vw !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rbc-event {
  font-size: 18px;
}
.rbc-toolbar {
  width: 30vw !important;
  font-size: 20px !important;
  flex-wrap: nowrap;
}
p {
  padding-top: 10px;
  font-size: 16px;
}
@media screen and (max-width: 1370px) {
  .rbc-timeslot-group {
    min-height: 50px;
  }
  .rbc-time-view {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 90vw;
    border: 1px solid #ddd;
    min-height: 100% !important;
    font-size: 12px;
  }
  .rbc-calendar {
    box-sizing: border-box;
    height: 100% !important;
    width: 90vw !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rbc-event {
    font-size: 12px;
  }
  .rbc-toolbar {
    width: 90vw !important;
    font-size: 14px !important;
    flex-wrap: nowrap;
  }
  p {
    padding-top: 10px;
    font-size: 12px;
  }
}
