@font-face {
  font-family: "pysch";
  src: url("../assets/fonts/QuicksandlightRegular-WJpz.otf");
}

.overall {
  font-family: pysch;
  font-weight: bold;
  background-color: #f3f3f3;
  margin: 0 !important;
  padding: 0 !important;
}

@media screen and (min-width: 765px) {
  .overall {
    font-weight: normal;
  }
}

.banner {
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: opacity(0.85);
}
.bannerText h1 {
  color: #f3f3f3;
  text-align: center;
  font-size: 36px;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 400px) {
  .bannerText h1 {
    font-size: 46px;
  }
}
@media screen and (min-width: 765px) {
  .bannerText h1 {
    font-size: 68px;
  }
  .bookButton {
    font-size: 24px !important;
  }
}
@media screen and (min-width: 1350px) {
  .bannerText h1 {
    font-size: 72px;
  }
}
.banner h2 {
  font-size: 24px;
  color: #f3f3f3;
  text-align: center;
}
@media screen and (min-width: 760px) {
  .banner h2 {
    font-size: 36px;
  }
}
@media screen and (min-width: 1370px) {
  .banner {
    background-attachment: fixed;
    background-size: auto 120vh;
  }
  .banner h2 {
    font-size: 42px;
    padding: 0px 15% 0px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .banner {
    background-attachment: scroll;
  }
}

.scrollDown {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}
.bookButton {
  font-size: 20px !important;
  margin: 30px 0px 30px;
}
.scrollDown h1 {
  font-size: 21px;
  padding: 20px 0px 20px;
}
.scrollDown h2 {
  font-size: 16px;
  padding: 0px 0px 20px;
}
@media screen and (min-width: 765px) {
  .scrollDown {
    padding-bottom: 50px;
  }
  .scrollDown h1 {
    font-size: 42px;
    padding: 10px 0px 10px;
  }
  .scrollDown h2 {
    font-size: 26px;
    padding: 0px 0px 20px;
  }
}

.about {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 0px 0px !important;
}
.about img {
  margin: 0px 0px 50px;
  width: 100%;
  height: 100%;
}
.aboutTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.about h1 {
  font-size: 28px;
}
.about h2 {
  font-size: 18px;
  padding-bottom: 20px;
}
.about p {
  font-size: 14px;
  text-align: center;
  margin: 0px 20px 60px;
  width: 95%;
}

@media screen and (min-width: 1025px) {
  .about {
    flex-direction: row;
    padding: 0 !important;
    background-color: rgba(53, 148, 164, 0.1);
  }
  .aboutTextWrapper {
    max-width: 40%;
    margin: 0px 100px 0px;
  }
  .about img {
    margin: 0;
    width: 50vw;
  }
  .about h1 {
    font-size: 36px;
    padding-bottom: 10px;
  }
  .about h2 {
    font-size: 20px;
  }
  .about p {
    font-size: 16px;
    text-align: justify;
    width: 100%;
  }
}

.payment {
  height: 700px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  /* padding-top: 40px; */
}
.consulting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.payment h1 {
  font-size: 32px;
}
.payment h4 {
  font-size: 18px;
}
@media screen and (min-width: 765px) {
  .payment {
    flex-direction: row;
    background-color: rgba(53, 148, 164, 0.1);
  }
  .consulting {
    width: 50%;
    height: 100%;
  }
  .payment h1 {
    font-size: 36px;
  }
  .payment h4 {
    font-size: 20px;
  }
}

.booking {
  padding: 50px 0px 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.booking h1 {
  font-size: 28px;
}
.booking p {
  margin-top: 20px !important;
  font-size: 12px;
}
@media screen and (min-width: 765px) {
  .booking {
    padding: 100px 0px 100px;
  }
  .booking h1 {
    font-size: 36px;
  }
}

.location {
  padding: 50px 0px 0px !important;
  display: flex;
  flex-direction: column;
}
.location h3 {
  font-size: 24px;
}
.location h4 {
  font-size: 18px;
  padding: 30px 0px 50px;
  text-align: justify;
}
.leftBox {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px 50px;
}
.specialisationText {
  text-align: justify;
  width: 80%;
  padding-top: 20px;
}
.rightBox {
  text-align: center;
}
.rightBox h1 {
  font-size: 24px;
}
.rightBox h2 {
  font-size: 14px;
}
.map {
  margin: 50px 0px 0px;
  height: 500px;
  width: 90%;
}
@media screen and (min-width: 765px) {
  .location {
    padding: 50px;
  }
  .specialisationText {
    width: 60%;
  }
  .location h3 {
    font-size: 36px;
  }
  .location h4 {
    font-size: 20px;
  }
  .rightBox {
    width: 100%;
  }
  .rightBox h1 {
    font-size: 36px;
  }
  .rightBox h2 {
    font-size: 24px;
  }
}
@media screen and (min-width: 1350px) {
  .location {
    flex-direction: row;
    height: fit-content;
    padding: 0 !important;
  }
  .location h3 {
    font-size: 28px;
  }
  .location h4 {
    font-size: 22px;
    text-align: justify;
    padding-top: 20px;
  }
  .leftBox {
    background-color: rgba(53, 148, 164, 0.1);
    padding: 100px 0px 0px;
    width: 50%;
  }
  .rightBox {
    width: 50%;
    padding: 100px 0px 0px;
  }
  .rightBox h1 {
    font-size: 22px;
    padding-top: 20px;
  }
  .rightBox h2 {
    font-size: 18px;
  }
}

.author {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.author a {
  color: black;
}
.author p {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}
@media screen and (min-width: 1350px) {
  .author {
    width: 50% !important;
    display: inline-block;
    background-color: rgba(53, 148, 164, 0.1);
  }
}

/*Booking Form*/
.myModal {
  font-family: pysch;
}
.myModal p {
  text-align: center;
  font-size: 12pt;
}
@media screen and (min-width: 765px) {
  .myModal p {
    text-align: left;
  }
}

/*NavBar*/
.navy {
  font-family: pysch;
  font-size: 20px;
  transition: 1s;
}
.nav-link {
  padding: 30px !important;
  transition: 0.5s;
}
.nav-link:hover {
  color: black !important;
  background: rgb(243, 243, 243);
}
.black {
  padding: 10px !important;
}
.black:hover {
  color: rgb(243, 243, 243) !important;
  background: rgb(53, 148, 164) !important;
}
@media screen and (max-width: 997px) {
  .nav-link {
    background: rgb(243, 243, 243) !important;
    color: black !important;
    padding: 20px !important;
    font-size: 18px;
  }
}
@media screen and (max-height: 414px) {
  .nav-link {
    padding: 5px !important;
    font-size: 12px;
  }
}

/*Calendar*/
.rbc-current-time-indicator {
  display: none;
}
.rbc-timeslot-group {
  min-height: 60px !important;
}
.rbc-time-view {
  font-size: 16px;
}
.rbc-event {
  font-size: 18px;
}
.rbc-toolbar {
  width: 30vw !important;
  font-size: 20px !important;
  flex-wrap: nowrap;
}
@media screen and (max-width: 1370px) {
  .rbc-timeslot-group {
    min-height: 60px !important;
  }
  .rbc-time-view {
    font-size: 12px;
  }
  .rbc-event {
    font-size: 12px;
  }
  .rbc-toolbar {
    width: 60vw !important;
    font-size: 14px !important;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 760px) {
  .rbc-timeslot-group {
    min-height: 50px !important;
  }
  .rbc-time-view {
    font-size: 12px;
  }
  .rbc-event {
    font-size: 12px;
  }
  .rbc-toolbar {
    width: 90vw !important;
    font-size: 14px !important;
    flex-wrap: nowrap;
  }
}